<a href="https://colab.research.google.com/github/lapointe05/m1-miage/blob/manel_kalloud_td05/td_05_manel_kalloud_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://upload.wikimedia.org/wikipedia/fr/0/0b/Polytech_Lyon_logo.png" alt="drawing" height="200"/>

# Traitement de donnÃ©es & Programmation en Python
---

# TD 05

Traitement de donnÃ©es

![Good luck!](https://media.tenor.com/YoFWnXe4V3kAAAAd/may-the-odds-be-ever-in-your-favor-may-the-odds-hunger-games.gif)
 
Elements Ã  consulter:





Doc                                   |             Link
--------------------------------------|------------------------------------
Github Helper      | [>link<](#scrollTo=Github_101)
Python en 30 jours | [>link<](https://moncoachdata.com/courses/apprendre-python-en-30-jours/)
Get started with pandas | [>link<](https://colab.research.google.com/notebooks/snippets/pandas.ipynb)

## Intro

Le premier bloc devrait toujours contenir les installs/imports dont on aura besoin pour le reste

In [ ]:
# Installs
print("Python is awesome ðŸ‘")

Python is awesome ðŸ‘

In [ ]:
# Imports
import os
import json
from random import randint
import pandas as pd
import numpy as np

In [ ]:
x = np.array([[1, 2, 3], [4, 5, 6]], np.int32)

x.shape

(2, 3)

### Correction TD precedent

Partir d'un fichier csv et alimenter la binge watch list :
  > serie, plateform, nb_episodes, annÃ©e_sortie, note

Puis print :

	 Nom de la sÃ©rie : Brooklyn Nine-Nine
	 AnnÃ©e de sortie : 2013

	 Nom de la sÃ©rie : The office
	 AnnÃ©e de sortie : 2005

In [ ]:
def csv_to_dict(file_path, separator=";", row_limit=None):
    """
    Transforms a csv file, into a list of dictionaries

    Arguments:
        file_path  {str} : eg. /documents/file.txt
        separator  {str} : separator of fields, default (;)
        row_limit  {int} : limit the rows to be read, default None

    Returns list[dict]
    """

    with open(file_path, "r") as f:
        serie = {}
        serie_list = []
        for i, row in enumerate(f, 1):
            if i == 1:
                header = row.lower().strip().replace(' ','_').split(separator)
                # print("\nHeaders:", header,"\n")
            else:
                data = row.lower().strip().split(separator)
                # print("Data:",data)
                if len(header) == len(data):
                    for j, element in enumerate(header):
                        serie[header[j]] = data[j]
            # print(serie)
                serie_list.append(serie)
                serie = {}
            if i == row_limit:
                break
    return serie_list



file_path = "./netflix_titles.csv"
# file_path = "./tv_shows_pipe.csv"
limit = None
binge_watch_list = csv_to_dict(file_path,separator="|",row_limit=limit)
# for serie in binge_watch_list:
#   print(serie.get('title'))
# # Option 1 read some rows to see what we have

df = pd.DataFrame(binge_watch_list)
df["title"] = df["title"].str.title()
df.head(5)

column_name = 'release_year'
filter = df['release_year'] == '2005'
# df.query(f"`{column_name}` == '2003'")
df[filter]
# # serie, plateform, nb_episodes, annÃ©e_sortie, note
# df2 = df.melt(id_vars=['title','year','imdb','rotten_tomatoes'],
#               var_name='plateform', 
#               value_vars=['netflix','hulu','prime_video','disney+'])
# df2.drop(['value'], axis=1)

##EX01
### Numpy intro

* CrÃ©er un vecteur depuis la liste ['Lyon', 'Paris', 'Montpellier']
    * Assigner le rÃ©sultat Ã  la variable `villes`
* CrÃ©er une matrice depuis la liste de listes suivante: `[['Lyon', '69'], ['Paris', '75'], ['Montpellier','34']]`
    * Assigner le rÃ©sultat Ã  la variable `villes_departement`
* Assigner la taille du vecteur `villes` Ã  la variable `v_shape`
* Assigner la taille du tableau `villes_departement` Ã  la variable `vd_shape` 
* Afficher les rÃ©sultats

In [ ]:
import numpy as np
# Liste
liste=['Lyon', 'Paris', 'Montpellier']
#print(type(liste))

# List to vecteur
villes = np.array(liste)
print(villes)

# Matrice
villes_departement = np.array([['Lyon', '69'], ['Paris', '75'], ['Montpellier','34']])
#print(type(villes_departement))
print(villes_departement)

#taille vecteur villes
v_shape = villes.shape
print(v_shape)

#taille matrice villes_departement
vd_shape = villes_departement.shape
print(vd_shape)

['Lyon' 'Paris' 'Montpellier']
[['Lyon' '69']
 ['Paris' '75']
 ['Montpellier' '34']]
(3,)
(3, 2)

##EX02
### Numpy intro

#### Part 1

* Telecharger le dataset [cereal.csv](https://www.kaggle.com/datasets/crawford/80-cereals?select=cereal.csv) avec les colonnes suivantes :

```
['name', 'mfr', 'type', 'calories', 'protein', 'fat', 'sodium', 'fiber',
'carbo', 'sugars', 'potass', 'vitamins', 'shelf', 'weight', 'cups',
'rating']
```

* Afficher les deux premieres colonnes et toute les lignes
* Afficher la derniÃ¨re colonne
* Afficher les 5 premieres lignes de la 4Ã¨me colonne
* Assigner a une variable `corn_flakes_cals` le nombre de calories par 100 gr de cÃ©rÃ©ales de la marque Corn Flakes 
* Assigner le nom de la 3eme marque sur le dataset a une variabe `third_brand`
* Mettre dans une liste toutes les marques de cÃ©reales en utilisant `.tolist()` & afficher cette derniÃ¨re
* Mettre les 10 premiere marques dans le fichiers dans une liste `first_ten_brands` & afficher cette derniÃ¨re
> bonus 
* Convertir la colonne ratings en dÃ©cimale

In [ ]:
import numpy as np
#
file_path = "./cereal.csv"
data = np.genfromtxt(file_path,dtype='str', delimiter=',', autostrip=True, skip_header=1, max_rows=50)
# print(data)

#selectionne les 2 premieres colonnes (ctrl / pour comm, ctrl Entree pour run)
col2e = data[:,:2]
print("2 premieres colonnes",col2e)
# print(data.shape) ## retourne (lignes, colonnes)

#Affiche 5e lignes et 4e colonne
l5e_col4 = data[:5,4]
print("5 premiÃ¨res lignes et 4e colonne: ",l5e_col4)
print(data.shape) ## retourne (lignes, colonnes)

#Assigner a une variable corn_flakes_cals le nombre de calories par 100 gr de cÃ©rÃ©ales de la marque Corn Flakes

corn_flakes = (data[:,0] == 'Corn Flakes')
# print(corn_flakes)

corn_flakes_cals = data[corn_flakes,3]
print(corn_flakes_cals)

# Assigner le nom de la 3eme marque sur le dataset a une variabe third_brand

third_brand = data[2,0]
print(third_brand)

#Mettre dans une liste toutes les marques de cÃ©reales en utilisant .tolist() & afficher cette derniÃ¨re

brand_list = data[:,0].tolist()
print("Liste des marques: ",brand_list)

#Mettre les 10 premiere marques dans le fichiers dans une liste first_ten_brands & afficher cette derniÃ¨re

first_ten_brands = data[:10,0].tolist()
print("Liste des 10 premiÃ¨res marques: ",first_ten_brands)

# Convertir la colonne ratings en dÃ©cimale

rating_float = data[:,-1].astype(float)#pas de guillemets
print("Conversion dÃ©cimale:", rating_float)

5 premiÃ¨res lignes et 4e colonne:  ['4' '3' '4' '4' '2']
(50, 16)
['100']
All-Bran
Liste des marques:  ['100% Bran', '100% Natural Bran', 'All-Bran', 'All-Bran with Extra Fiber', 'Almond Delight', 'Apple Cinnamon Cheerios', 'Apple Jacks', 'Basic 4', 'Bran Chex', 'Bran Flakes', "Cap'n'Crunch", 'Cheerios', 'Cinnamon Toast Crunch', 'Clusters', 'Cocoa Puffs', 'Corn Chex', 'Corn Flakes', 'Corn Pops', 'Count Chocula', "Cracklin' Oat Bran", 'Cream of Wheat (Quick)', 'Crispix', 'Crispy Wheat & Raisins', 'Double Chex', 'Froot Loops', 'Frosted Flakes', 'Frosted Mini-Wheats', 'Fruit & Fibre Dates; Walnuts; and Oats', 'Fruitful Bran', 'Fruity Pebbles', 'Golden Crisp', 'Golden Grahams', 'Grape Nuts Flakes', 'Grape-Nuts', 'Great Grains Pecan', 'Honey Graham Ohs', 'Honey Nut Cheerios', 'Honey-comb', 'Just Right Crunchy  Nuggets', 'Just Right Fruit & Nut', 'Kix', 'Life', 'Lucky Charms', 'Maypo', 'Muesli Raisins; Dates; & Almonds', 'Muesli Raisins; Peaches; & Pecans', 'Mueslix Crispy Blend', 'Multi-Grain Cheerios', 'Nut&Honey Crunch', 'Nutri-Grain Almond-Raisin']
Liste des 10 premiÃ¨res marques:  ['100% Bran', '100% Natural Bran', 'All-Bran', 'All-Bran with Extra Fiber', 'Almond Delight', 'Apple Cinnamon Cheerios', 'Apple Jacks', 'Basic 4', 'Bran Chex', 'Bran Flakes']
[68.402973 33.983679 59.425505 93.704912 34.384843 29.509541 33.174094
 37.038562 49.120253 53.313813 18.042851 50.764999 19.823573 40.400208
 22.736446 41.445019 45.863324 35.782791 22.396513 40.448772 64.533816
 46.895644 36.176196 44.330856 32.207582 31.435973 58.345141 40.917047
 41.015492 28.025765 35.252444 23.804043 52.076897 53.371007 45.811716
 21.871292 31.072217 28.742414 36.523683 36.471512 39.241114 45.328074
 26.734515 54.850917 37.136863 34.139765 30.313351 40.105965 29.924285
 40.69232 ]

#### Part 2

* **Extraire** la premiere colonne du dataset et **la comparer** Ã  la valeur `'Special K'` Assigner le resultat Ã  une variable `special_k`
* Executer la commande `print(data[special_k])`
> bonus
* Faire la meme chose mais le filtre verifie que le manufacturer est Quaker Oats (lire la doc du dataset ðŸ˜‰)
> bonus Â²
* Print le nom des marques dont le fabricant est `Quaker Oats` et qui contiennent **moins** de `10 grammes` de sucre par portion
* Ajouter une marque de cÃ©rÃ©ales "healthy" avec 0 grammes de sucre au dataset

In [ ]:
import numpy as np

# data access
file_path = "./cereal.csv"
data = np.genfromtxt(file_path,dtype='str', delimiter=',', autostrip=True, skip_header=1)

# Extraire la premiere colonne du dataset et la comparer Ã  la valeur 'Special K' Assigner le resultat Ã  une variable special_k
special_k = (data[:,0] == 'Special K')
# print(special_k)
print("Special K cereal",data[special_k])
print("-------------------------------------------------------------------------------------------------------")

#Faire la meme chose mais le filtre verifie que le manufacturer est Quaker Oats
quaker_oats = (data[:,1] == 'Q')
print("Manufacturier Quaker Oats",data[quaker_oats])
print("-------------------------------------------------------------------------------------------------------")

# Print le nom des marques dont le fabricant est Quaker Oats et qui contiennent moins de 10 grammes de sucre par portion
quaker_oats_cals = data[quaker_oats,9]
print("Liste des calories: ",quaker_oats_cals)
quaker_oats_cals_10 = list(filter(lambda i: True if i < 10 else False, (data[quaker_oats,9]).astype(int)))
print("Calories inferieur Ã  10: ",quaker_oats_cals_10)
brand_quaker_oats_cals_10 = data[quaker_oats_cals_10,0]
print("Cereales avec - de 10 calories fabriquÃ©es par Quaker Oats: ",brand_quaker_oats_cals_10)


# Print le nom des marques dont le fabricant est Quaker Oats et qui contiennent moins de 10 grammes de sucre par portion
healthy_cereal = np.array(['Healthy cereal','R','C','50','3','1','35','11','5','0','135','25','3','3','0.33','23.174094'])
data = np.r_[data,[healthy_cereal]]
# print(data)
healthy_cereal_brand = (data[:,0] == 'Healthy cereal')
print("Nouvelle marque: ",data[healthy_cereal_brand])

healthy_cereal_sugar = (data[healthy_cereal_brand,9] )
print("Sucre: ",healthy_cereal_sugar)

Special K cereal [['Special K' 'K' 'C' '110' '6' '0' '230' '1' '16' '3' '55' '25' '1' '1'
  '1' '53.131324']]
-------------------------------------------------------------------------------------------------------
Manufacturier Quaker Oats [['100% Natural Bran' 'Q' 'C' '120' '3' '5' '15' '2' '8' '8' '135' '0'
  '3' '1' '1' '33.983679']
 ["Cap'n'Crunch" 'Q' 'C' '120' '1' '2' '220' '0' '12' '12' '35' '25' '2'
  '1' '0.75' '18.042851']
 ['Honey Graham Ohs' 'Q' 'C' '120' '1' '2' '220' '1' '12' '11' '45' '25'
  '2' '1' '1' '21.871292']
 ['Life' 'Q' 'C' '100' '4' '2' '150' '2' '12' '6' '95' '25' '2' '1'
  '0.67' '45.328074']
 ['Puffed Rice' 'Q' 'C' '50' '1' '0' '0' '0' '13' '0' '15' '0' '3' '0.5'
  '1' '60.756112']
 ['Puffed Wheat' 'Q' 'C' '50' '2' '0' '0' '1' '10' '0' '50' '0' '3' '0.5'
  '1' '63.005645']
 ['Quaker Oat Squares' 'Q' 'C' '100' '4' '1' '135' '2' '14' '6' '110'
  '25' '3' '1' '0.5' '49.511874']
 ['Quaker Oatmeal' 'Q' 'H' '100' '5' '2' '0' '2.7' '-1' '-1' '110' '0'
  '1' '1' '0.67' '50.828392']]
-------------------------------------------------------------------------------------------------------
Liste des calories:  ['8' '12' '11' '6' '0' '0' '6' '-1']
Calories inferieur Ã  10:  [8, 6, 0, 0, 6, -1]
Cereales avec - de 10 calories fabriquÃ©es par Quaker Oats:  ['Bran Chex' 'Apple Jacks' '100% Bran' '100% Bran' 'Apple Jacks'
 'Wheaties Honey Gold']
Nouvelle marque:  [['Healthy cereal' 'R' 'C' '50' '3' '1' '35' '11' '5' '0' '135' '25' '3'
  '3' '0.33' '23.174094']]
Sucre:  ['0']

#### Part 3

Sur le mÃªme dataset, Ã  l'aide d'une boucle `for`:


*   CrÃ©er un dictionnaire avec la moyenne de sucre par Fabricant de cÃ©rales
*   Trouver la marque de cÃ©reales qui contient le plus de sucre par portion

In [ ]:
#-------------------- ce n'est pas la bonne solution, c'est du bricolage (mais ca fonctionne) ---------------------------
import numpy as np

file_path = "./cereal.csv"
data = np.genfromtxt(file_path,dtype='str', delimiter=',', autostrip=True, skip_header=1)

#remplace les acronymes des fabricants par leur nom
a = (data[:,1] =='A')
data[a,1] = 'American Home Food Products'
g = (data[:,1] =='G')
data[g,1] = 'General Mills'
q = (data[:,1] =='Q')
data[q,1] = 'Quaker Oats'
n = (data[:,1] =='N')
data[n,1] = 'Nabisco'
p = (data[:,1] =='P')
data[p,1] = 'Post'
r = (data[:,1] =='R')
data[r,1] = 'Ralston Purina'
k = (data[:,1] =='K')
data[k,1] = 'Kelloggs'
  

#Tri selon fabricant
data = data[data[:,1].argsort()]
data_fab = np.split(data[:,9].astype(float), np.unique(data[:, 1], return_index=True)[1][1:])
#print(data)

#dictionnaire vide, clÃ© = fabricant et valeur = moyenne sucre
dic = {}
liste_fabricants =[]
liste_fabricants_sans_doublons = []

for fab in data:
  liste_fabricants.append(fab[1])

for f in liste_fabricants:
  if f not in liste_fabricants_sans_doublons:
    liste_fabricants_sans_doublons.append(f)

#print(sans_doublons)

liste_sucre = []
for sucre in data_fab:
  moyenne = sucre.mean()
  liste_sucre.append(moyenne)
#print(liste_sucre)
  
resultat = dict(zip(liste_fabricants_sans_doublons, liste_sucre))

print(resultat)
  

#-------------------------------------------------------------------------------------------------------
# #question: 
#

{'American Home Food Products': 3.0, 'General Mills': 7.954545454545454, 'Kelloggs': 7.565217391304348, 'Nabisco': 1.8333333333333333, 'Post': 8.777777777777779, 'Quaker Oats': 5.25, 'Ralston Purina': 6.125}

Moyenne sucre par manufacturier

{'Ralston Purina': 6.125, 'Nabisco': 1.8333333333333333, 'General Mills': 7.954545454545454, 'Kelloggs': 7.565217391304348, 'American Home Food Products': 3.0, 'Post': 8.777777777777779, 'Quaker Oats': 5.25}

## EX03
### Dataframes

Refaire l'exo du TD 4 (fichier des series) en utilisant la librairie NumPy.

In [ ]:
# import numpy as np

file_path = "./netflix_titles.csv"
stream = np.genfromtxt(file_path, dtype="str", delimiter=';', autostrip=True, skip_header=1,max_rows=10)
print(stream)

#logique de l'exo ...

#supprimer tout les espaces

#dÃ©couper entre les , et sans compter celles qui sont entre "" (",") = Regex ?

#peut travailler avec np, 2 dim avec ligne et colonne 

#filtre sur tvshow

#selectionne les colonnes souhaitÃ©es

#insertion dans une liste que l'on va transformer en dictionnaire


#bon dÃ©coupage
# >>x="Titanium Dioxide (CI 77897), Black 2 (CI 77266), Iron Oxides (CI 77491, 77492, 77499), Ultramarines (CI 77007)"
# >> re.findall("[^()]*\([^()]*\),?",x)
# ['Titanium Dioxide (CI 77897),', ' Black 2 (CI 77266),', ' Iron Oxides (CI 77491, 77492, 77499),', ' Ultramarines (CI 77007)']

['s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmmaker Kirsten Johnson stages his death in inventive and comical ways to help them both face the inevitable."'
 's2,TV Show,Blood & Water,,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thabang Molaba, Dillon Windvogel, Natasha Thahane, Arno Greeff, Xolile Tshabalala, Getmore Sithole, Cindy Mahlangu, Ryle De Morny, Greteli Fincham, Sello Maake Ka-Ncube, Odwa Gwanya, Mekaila Mathys, Sandi Schultz, Duane Williams, Shamilla Miller, Patrick Mofokeng",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town teen sets out to prove whether a private-school swimming star is her sister who was abducted at birth."'
 's3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabiha Akkari, Sofia Lesaffre, Salim Kechiouche, Noureddine Farihi, Geert Van Rampelberg, Bakary Diombera",,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Action & Adventure","To protect his family from a powerful drug lord, skilled thief Mehdi and his expert team of robbers are pulled into a violent and deadly turf war."'
 's4,TV Show,Jailbirds New Orleans,,,,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down among the incarcerated women at the Orleans Justice Center in New Orleans on this gritty reality series."'
 's5,TV Show,Kota Factory,,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam Khan, Ahsaas Channa, Revathi Pillai, Urvi Singh, Arun Kumar",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV Comedies","In a city of coaching centers known to train Indiaâ€™s finest collegiate minds, an earnest but unexceptional student and his friends navigate campus life."'
 's6,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, Henry Thomas, Kristin Lehman, Samantha Sloyan, Igby Rigney, Rahul Kohli, Annarah Cymone, Annabeth Gish, Alex Essoe, Rahul Abburi, Matt Biedel, Michael Trucco, Crystal Balint, Louis Oliver",,"September 24, 2021",2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries","The arrival of a charismatic young priest brings glorious miracles, ominous mysteries and renewed religious fervor to a dying town desperate to believe."'
 's7,Movie,My Little Pony: A New Generation,"Robert Cullen, JosÃ© Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, Sofia Carson, Liza Koshy, Ken Jeong, Elizabeth Perkins, Jane Krakowski, Michael McKean, Phil LaMarr",,"September 24, 2021",2021,PG,91 min,Children & Family Movies,"Equestria\'s divided. But a bright-eyed hero believes Earth Ponies, Pegasi and Unicorns should be pals â€” and, hoof to heart, sheâ€™s determined to prove it."'
 's8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra Duah, Nick Medley, Mutabaruka, Afemo Omilami, Reggie Carter, Mzuri","United States, Ghana, Burkina Faso, United Kingdom, Germany, Ethiopia","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model slips back in time, becomes enslaved on a plantation and bears witness to the agony of her ancestral past."'
 's9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Hollywood",United Kingdom,"September 24, 2021",2021,TV-14,9 Seasons,"British TV Shows, Reality TV","A talented batch of amateur bakers face off in a 10-week competition, whipping up their best dishes in the hopes of being named the U.K.\'s best."'
 's10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O\'Dowd, Kevin Kline, Timothy Olyphant, Daveed Diggs, Skyler Gisondo, Laura Harrier, Rosalind Chao, Kimberly Quinn, Loretta Devine, Ravi Kapoor",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contends with a feisty bird that\'s taken over her garden â€” and a husband who\'s struggling to find a way forward.']

## Github 101

```shell
# Repartir sur une nouvelle branche
git checkout main
# Mettre Ã  jour notre branche locale
git pull origin main
# RecrÃ©er une branche pour le TD 05
git checkout -b branch_name_td05
# Dupliquer le fichier du td et rajouter en suffix son nom
cd 'chemin/m1-miage/'
cp 'src/to_do/td_05/td_05.ipynb' 'src/done/td_05/td_05_nom_prenom.ipynb'
# Faire le travail necessaire sur votre fichier et commit et push
git add 'src/done/td_05/td_05_nom_prenom.ipynb'
git commit -m 'message descriptif du travail fait'
git push --set-upstream origin nom_branche
# Faire une pull request
```

[>>>PULL REQUEST<<<](https://github.com/lapointe05/m1-miage/pulls)